---
---
@import "bootstrap.min.css";
body{ background-color: #2b2d2f;
font-family: "Avenir";}
#header {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background: #333
  }}



li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#Designername { text-align: center;
  padding: 10px;
letter-spacing: 3px;}
#User {text-align: center;
  padding: 0px;
font-style: oblique;
letter-spacing: 3px;}
#slogan {text-align: center;
  padding:0;
  font-family: "Bradley Hand ITC";
font-style: oblique;
letter-spacing: 1px;}
#projects {text-align: left;
  padding: 20px;
letter-spacing: 2px;}
.wrapper{ text-align: center;
  padding: 10px;
  img {  max-width: 85%;
  }}
#text{ text-align:left;}
#me{ width: 100%;
  float:right;}
img{ position: relative;
  
    
    max-width: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}
.card {margin: 0 1em;}
table {float: left;}
tr, td { 
                width: 210px; 
                text-align:center; 
                
  padding:9px }

body { margin: 0px,0px,0px,0px;
color: white;}
  

