---
---
@import "bootstrap.min.css";
body{ background-color: #2b2d2f
}
#header {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background: #333
  }}



li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#wrapper{ float: right;
 }
img{ max-width: 100%;
  padding: 0;}

body { margin: 20px, 20px, 20px, 20px;
color: white;}
  h1{ text-align: center;}

